
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
 

* {
    margin: 0;
    padding: 0;

}

@media (max-width: 600px) {
    .form-container {
        max-width: 100%;
        padding: 10px;
    }
}

.form-container {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #6B4E31;
    border-radius: 5px;
    gap: 25px;
    background-color: #F5F5F5;

}

h1 {
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    color: #6B4E31;
    font-weight: 700; 
}

label {
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #6B4E31;

}

input {
    text-align: center;
    width: 100%;
    padding: 1%;
    box-sizing: border-box;
    border: 1px solid #6B4E31;
    border-radius: 4px;
    font-size: 16px;
    color: #6B4E31;
}

.apresentacao__itens__checkbox {
    border: 1px solid #6B4E31;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    background-color: #F5F5F5;

}

.apresentacao__itens__checkbox__defensivos {
    border: 1px solid #6B4E31;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    background-color: #F5F5F5;

}


.apresentacao__itens__checkbox__defensivos label {
    flex: none;
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

.apresentacao__itens__checkbox__defensivos input {
    flex: none;
    width: auto;
    margin-right: 10px;
    margin-left: 10px;
}


.apresentacao__itens__checkbox label {
    flex: none;
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

.apresentacao__itens__checkbox input {
    flex: none;
    width: auto;
    margin-right: 10px;
    margin-left: 10px;
}

.apresentacao__itens {
    display: flex;
    flex-direction: column;
}

.apresentacao__itens__radio {
    border: 1px solid #6B4E31;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    background-color: #F5F5F5;

}

.apresentacao__itens__radio input {
    margin: 10px;
    width: auto;
    box-sizing: border-box;
    vertical-align: middle;
}

.apresentacao__itens__radio label {
    flex: none;
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
}


.botao_enviar {
    cursor: pointer;
    text-decoration: none;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    gap: 20px;
    padding: 5px;
    width: 100%;
    font-size: 19px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color:#2F855A;
    color: #F5F5F5;
    font-family: 'roboto', sans-serif;
    font-weight: 400;

}

#cadastro-list{
    list-style-type: none;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.rodape {
    justify-content: center;
    text-align: center;
    display: flex;
    font-size: 1rem;
    padding: 20px;
    white-space: pre-wrap;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #6B4E31;
}