* {
    margin: 0;
    padding: 0;

}
@media (max-width: 600px) {
    .form-container{
        max-width: 100%;
        padding: 10px;
    }
}

.form-container {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    justify-content: space-between;
    border: 1px solid #ccc;
    gap: 25px;
    
}

.apresentacao__itens__checkbox {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 5px;
}

.apresentacao__itens {
    display: flex;
    flex-direction: column;
}

.apresentacao__itens__radio {
    display: flex;
    margin-top: 1px;
    flex-direction: row;
    align-items: stretch;
}

label {
    
    font-size: 16px;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 1%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

select{
    width: 100%;
    padding: 1%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;  
}

.checkbox-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 4px;
}

.botao__enviar {
    text-decoration: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 3px;
    width: 100%;
    font-size: 20px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #ccc;

}

.rodape {
    justify-content: center;
    text-align: center;
    display: flex;
    font-size: 1rem;
    padding: 20px;
}
