
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;

}

@media (max-width: 600px) {
    .form-container {
        max-width: 100%;
        padding: 10px;
    }
}

.form-container {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #6B4E31;
    background-color: #F5F5F5;
    border-radius: 5px;
    gap: 25px;

}
h1 {
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    color: #6B4E31;
    font-weight: 700; 
}

label {
    text-align: center;
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #6B4E31;

}

input {
    text-align: center;
    width: 100%;
    padding: 1%;
    box-sizing: border-box;
    border: 1px solid #6B4E31;
    border-radius: 4px;
    font-size: 16px;
    color: #6B4E31;
}

button {
   cursor: pointer;
    text-decoration: none;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    gap: 20px;
    padding: 5px;
    width: 40%;
    font-size: 19px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color:#2F855A;
    color: #F5F5F5; 
    font-family: 'roboto', sans-serif;
    font-weight: 400;

}

.rodape {
    justify-content: center;
    text-align: center;
    display: flex;
    font-size: 1rem;
    padding: 20px;
    white-space: pre-wrap;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #6B4E31;
}