* {
    margin: 0;
    padding: 0;

}

.apresentacao__geral {
    padding: 5% 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__itens {
    padding: 5% 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 82px;
}