@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

@media (max-width: 600px) {
  .form-container {
    max-width: 100%;
    padding: 10px;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #6b4e31;
  border-radius: 5px;
  gap: 25px;
  background-color: #f5f5f5;
}

.direcionamento_opcoes {
  border: 1px solid #6b4e31;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  background-color: #f5f5f5;
}

h1 {
  text-align: center;
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
  color: #6b4e31;
  font-weight: 700;
}

h2 {
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #6b4e31;
}

h3 {
  text-align: center;
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-weight: normal;
  color: #6b4e31;
}

p {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #6b4e31;
}

label {
  margin-bottom: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #6b4e31;
}

button {
  cursor: pointer;
  text-decoration: none;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  gap: 20px;
  padding: 5px;
  width: 40%;
  font-size: 19px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #2f855a;
  color: #f5f5f5;
  font-family: "roboto", sans-serif;
  font-weight: 400;
}

a {
  cursor: pointer;
  text-decoration: none;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  gap: 20px;
  padding: 5px;
  width: 40%;
  font-size: 19px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #2f855a;
  color: #f5f5f5;
  font-family: "roboto", sans-serif;
  font-weight: 400;
}

.rodape {
  justify-content: center;
  text-align: center;
  display: flex;
  font-size: 1rem;
  padding: 20px;
  white-space: pre-wrap;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #6b4e31;
}

/* Ajustes para telas */
@media (max-width: 10000px) {
  html,
  body {
    display: flexbox;
    width: auto;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    justify-content: space-evenly;
  }

  .form-container {
    width: 100%; /* Mais espaço nas bordas */
    max-width: none;
    height: 100%; /* Ajusta a altura ao conteúdo */
    display: contents;
    flex-direction: column;
    justify-content: center;
    margin: 0px 0px; /* Centraliza o container */
    padding: 20px; /* Espaçamento interno reduzido */
    box-sizing: border-box;
  }

  .form-container label {
    margin-top: 50px;
  }

  h1 {
    font-size: 6rem; /* Tamanho menor, mas ainda legível */
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 5rem; /* Mínimo para legibilidade */
  }

  p {
    font-size: 4rem; /* Mínimo para legibilidade */
  }

  label {
    font-size: 4rem; /* Mínimo para legibilidade */
  }

  textarea {
    font-size: 4rem;
    font-weight: 400;
    height: 170px;
  }

  .apresentacao__itens__radio {
    margin-top: 25px;
  }

  .apresentacao__itens__radio input {
    transform: scale(5);
    margin-right: 50px;
    background-color: #00796b;
  }

  .apresentacao__itens__radio label {
    font-size: 4rem; /* Mínimo para legibilidade */
    margin-top: 50px;
    text-align: left;
  }

  .apresentacao__itens__checkbox label {
    font-size: 4rem; /* Mínimo para legibilidade */
    text-align: left;
  }

  .apresentacao__itens__checkbox [type="checkbox"] {
    margin: 10px;
    transform: scale(4);
    margin-right: 50px;
    accent-color: #2f855a;
  }

  .apresentacao__itens__checkbox [type="text"] {
    max-width: 100%;
    margin-top: 30px;
    margin-left: 0%;
  }

  .suggestions {
    max-width: 100%;
    width: 96%;
    height: 100%;
    max-height: 30%;
    margin-top: -58%;
  }

  .suggestion-item {
    font-size: 4rem;
    padding: 1rem;
    max-width: 100%;
    width: 100%;
  }

  .suggestion-item label {
    font-size: 4rem;
    padding: 1rem;
    max-width: 100%;
    width: 100%;
  }

  .tag-container {
    margin-bottom: 70px;
  }

  .tag {
    font-size: 4rem;
    width: 100%;
  }

  .tag button {
    font-size: 35px;
    font-weight: 900;
    margin-top: 15px;
    margin-left: 20px;
  }

  .botao_salvar {
    font-size: 6rem;
    font-weight: 600;
    padding: 0.7rem 1.2rem;
    width: 100%; /* Ajusta ao conteúdo */
    max-width: 95%; /* Evita que ultrapasse o container */
    touch-action: manipulation; /* Melhora resposta ao toque */
    line-height: 1.5; /* Mais espaço interno */
    margin-top: 70px;
  }

  a {
    font-size: 4rem;
    padding: 0.7rem 1.2rem;
    width: auto; /* Ajusta ao conteúdo */
    max-width: 100%; /* Evita que ultrapasse o container */
    touch-action: manipulation; /* Melhora resposta ao toque */
    line-height: 1.5; /* Mais espaço interno */
  }

  .direcionamento_opcoes {
    gap: 1rem;
  }

  .rodape {
    font-size: 2rem;
    padding: 0%;
    margin-top: 700px;
  }

  fieldset {
    margin-top: 100px;
  }

  fieldset legend {
    font-size: 4rem;
  }

  input {
    padding: 2%;
    font-size: 4rem;
    margin-bottom: 70px;
  }

  input[type="radio"] {
    accent-color: #2f855a;
  }

  .alerta {
    font-family: "Roboto", sans-serif;
    font-size: 50px;
    font-weight: 500;
    display: none; /* começa oculto */
    width: 80%;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4caf50; /* verde */
    color: white;
    padding: 100px 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.4s ease;
  }

  .alerta.mostrar {
    display: block;
    opacity: 1;
  }

  #botao_exportar {
    font-size: 6rem;
    font-weight: 600;
    padding: 0.7rem 1.2rem;
    width: 100%; /* Ajusta ao conteúdo */
    max-width: 95%; /* Evita que ultrapasse o container */
    touch-action: manipulation; /* Melhora resposta ao toque */
    line-height: 1.5; /* Mais espaço interno */
  }
}
